// .wrapper {
//   position: absolute;
//   top: 20%;
//   left: 10%;
//   right: 0;
//   bottom: 0;
// }

.wrapper img {
    text-align: center;
  }
  
  .image{
      max-width:800px;
      max-height: 800px;
  }